* {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  box-sizing: border-box;
}

body {
  background-image: conic-gradient(
    from 65deg at -5% 30%,
    rgba(121, 122, 181, 0.9) 10deg,
    rgba(107, 108, 174, 1) 0deg,
    #6667ab 0deg,
    rgba(255, 255, 255, 0) 270deg,
    rgba(121, 122, 181, 0.9) 0deg
  );

  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Ruda", sans-serif;
  /* min-height: 110vh; */
  /*min-height: 100%;*/
  min-height: 100.5vh; /*modif 060422*/
  background-size: cover; /*modif 060422*/

}

/* Header */
header {
  background-color: #45467a;
  display: flex;
}

/* LOGO */
#logo {
  margin-left: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

#logo img {
  height: 4rem;
}

/* Menu BURGER */
.menu-btn {
  position: absolute;
  z-index: 999;
  right: 3rem;
  top: 1.5rem;
  height: 40px;
  width: 56px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 40px;
  height: 6px;
  background: #b1b3c9;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 40px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 13px;
  width: 28px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(14px, 8px);
}

.menu-btn_burger.open::after {
  width: 40px;
  transform: rotate(-45deg) translate(10px, -4px);
}

/* MENU */
.nav {
  /* position: fixed;
      top: 0;
      left: 0; */
  /* width: 100%; */
  opacity: 0.98;
  visibility: hidden;
  z-index: 99;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  position: absolute;
  top: 0.5rem;
  left: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  justify-content: flex-start;
  /*width: 65vw;*/
  overflow: hidden;
  background: #45467a;
  list-style-type: none;
  /*padding-right: 1rem; */
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  border: 0.1rem solid #d8d8ea;
  padding: 0.5 1.5rem;
}

.nav .menu-nav.open {
  transform: translateY(0);
  width: 50vw; /*modif 070422*/
  height: 100vh; /*modif 070422*/
  z-index: 1000;
  left: 255px;
}

.nav .menu-nav_item {
  /*transform: translateX(100vw);*/
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  transform: translateX(0);
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  /*padding: 1.5rem;
    margin-top: 2rem;
    */
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  color: #d8d8ea;
  text-decoration: none;
  font-family: "Ruda", sans-serif;
}

.nav .menu-nav_item:first-child .menu-nav_link {
  -webkit-border-top-left-radius: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -moz-border-radius-topleft: 24px;
  -moz-border-radius-bottomleft: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.nav .menu-nav_item:last-child .menu-nav_link {
  -webkit-border-top-right-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -moz-border-radius-topright: 24px;
  -moz-border-radius-bottomright: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.sousmenu-nav {
  list-style: none;
  line-height: 2;
  background-color: #45467a;
  text-align: justify;
  padding: 0 0 0 1rem;
}

.sousmenu-nav_link {
  color:#d8d8ea4d;
  text-decoration: none;
  font-size: 1.2rem;
}

.sousmenu-nav_link:hover {
  color:#d8d8ea;
  background-color: #2a2c66;
}

.sousmenu-nav_link .liSousmenu-nav .menu-nav_link {
  display: block;
  text-align: justify;
}

/* MAIN */
main {
  z-index: -1;
  min-height: fit-content; /*modif 060422*/
  background-size: cover; /*modif 070422*/
}

/* DESCRIPTION */
.titre {
  color: #d8d8ea;
  font-family: "Russo One", sans-serif;
  text-align: center;
  padding: 2rem 0;
  margin: 0 2rem;
}

.bienvenue {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #45467a;
}

/* .titre h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
} */

.titre h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

.titre h5 {
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.titre h5 a {
  color: #a7d72e;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

.categories .categorie_image img {
  height: 150px;
  width: 300px;
  border-radius: 50px;
}

.categories .categorie_image {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  opacity: 1;
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Ruda", sans-serif;
  color: #d8d8ea;
  font-size: 2rem;
  font-weight: 700;
}

/* <-- RFO QUIZ LIST --> */
#background_img img {
  height: 150px;
  width: 300px;
  border-radius: 50px;
}

#background_img {
  position: relative;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}

#background_img .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Ruda", sans-serif;
  color: #d8d8ea;
  font-size: 2rem;
  font-weight: 700;
}

.quiz_div {
  height: 70px;
  background-color: #45467a;
  border-top-left-radius: 7%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}
.quiz_divv {
  height: 70px;
  background-color: #45467a;
  border-top-left-radius: 10%; 
  border-bottom-left-radius: 10%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  padding-left: 55px;
  /* cursor: pointer; */
}

.quiz_div > img {
  position: absolute;
  left: -5.2%;
  top: -12%;
}
.quiz_divv> img {
  position: absolute;
  left: -5.2%; /*modif 070422*/
  top: -12%; /*modif 070422*/
}

.centered_Quiz {
  text-align: center;
  padding-top: 6%;
  color: #d8d8ea;
  top: 100px;
  font-size: 1.2rem;
}

/* GRID CATEGORIES THEMATIQUE */
#grid_thematique {
  /* Supression du GRID pour MOBILE */
  color: white;
  text-align: center;
  width: 440px; /*modif 070422*/
  margin: 0 auto; /*modif 070422*/
  /* height:90vh; modif 070422 */
}

#overlay_inscription > h2 {
  color: #ffc334;
  margin: 0 3rem;
  font-family: "Russo One";
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  text-align: center;
  position: absolute;
  z-index: 30000;
  background-color: #45467a;
  opacity: 90%;
  border-radius: 3rem;
  height: 619px;
  width:auto; /*modif 070422*/
  padding-top: 240px; /*modif 070422*/
}

/* TIMER + thematique box*/
#topQuizQuest {
  margin: 0 auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.timer-QuizQuest {
  grid-column: 1;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  background: #45467a;
  text-align: center;
  display: inline-flex;
}

#timeInNumbers-QuizQuest {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #d8d8ea;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.thematBox-QuizQuest {
  grid-column: 3;
  width: 6rem;
  height: 3rem;
  display: inline-block;
  align-self: center;
  position: relative;
  text-align: center;
}

.thematText-QuizQuest {
  font-family: "Ruda", sans-serif;
  color: #d8d8ea;
  font-weight: 300;
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Nom du quiz*/
.quizName-QuizQuest {
  grid-column: 2;
  grid-row: 1;
  font-family: "Ruda", sans-serif;
  color: #ffc334;
  font-size: 1.5rem;
}

/*progression questions*/
#ul-compteurQuest-QuizQuest {
  grid-column: 2;
  grid-row: 3;
  list-style-type: none;
  display: block;
  width: auto;
}

.li-numeroQuest-QuizQuest {
  display: inline;
  color: #d8d8ea;
  text-align: center;
  text-decoration: none;
  border: 0.1rem solid #45467a;
  width: 1.4rem;
  font-family: "ruda", sans-serif;
  font-size: 0.7rem;
}

/*overlay article question rps*/
#overlay-QuizQuest {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 650px;
  /* display: inline-block; */
  background-color: #45467a;
  opacity: 90%;
  /* cursor: pointer; */
  color: #ffc334;
  font-family: "Russo One";
  font-size: 5rem;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#overlay-start {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/*- - - - - Section question + réponses */
.questRep-QuizQuest {
  margin: 0 auto;
  padding: 1rem;
}

.gridContainer-QuizQuest {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.grid-itemQq {
  background-color: #45467a;
  text-align: center;
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
  border: 0.5rem solid #6667ab;
  align-content: center;
  justify-content: center;
  align-content: center;
}

.question-QuizQuest {
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 0.5rem;
  color: #d8d8ea;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
  background-color: #45467a;
  text-align: center;
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
  border: 0.5rem solid #6667ab;
  align-content: center;
}

.grid-itemQq {
  width: auto;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  align-self: center;
  border-radius: 2rem;
  cursor: pointer;
  padding-top: 20px;
}

.grid-itemQq:hover {
  background-color: #d8d8ea;
  border: 0.5rem solid #6667ab;
  color: #45467a;
}

/* boxes "bravo" "dommage" */
#bravoDomm-QuizQuest {
  margin: 2rem auto;
  text-align: center;
}

.bravo-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 3.7rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  /* display: none; */
}

.dommage-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 3.7rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  /* display: none; */
}

/*Page des scores*/
#h1-scorePage {
  font-family: "Russo one", sans-serif;
  color: #2a2c66;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

#h2-scorePage {
  font-family: "Ruda", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: #86b026;
  margin-bottom: 2.5rem;
}

#scoresJoueur-scorePage {
  width: 20rem;
  background-color: #45467a;
  margin: 1rem auto;
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  color: #d8d8ea;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
}

#scoreSurDix-scorePage {
  color: #86b026;
}

#tempsQuiz-scorePage {
  color: #86b026;
}

.buttons-scorePage {
  margin: 0.5rem auto;
  text-align: center;
}

#buttonRejoue-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin: 1.5rem 0;
}

#buttonRejoue-scorePage:hover {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 6rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin-top: 0.5rem;
}

.buttonChoisis-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  margin: 1rem 0;
}

.buttonChoisisQ-scorePage:hover {
  font-size: 1.5rem;
  border-radius: 6rem;
  margin-bottom: 0.5rem;
}

.buttonChoisisQ-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  margin: 1rem 0;
}

.buttonChoisis-scorePage:hover {
  font-size: 1.5rem;
  border-radius: 6rem;
  margin-bottom: 0.5rem;
}
/*formulaires - login & sign-up */

#container {
  display: grid;
  background-color: none;
  border-radius: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 0.5rem;
  top: 20%;
  text-align: center;
  margin: 2rem;
  z-index: -50;
  margin: 5% 15%;
}

#sign-up-container {
  grid-row: 1;
  padding: 1rem;
  z-index: 0;
  background-color: #565791;
  border-radius: 2rem;
  box-shadow: 28px 14px 30px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.22);
}

#dejaCompte_signUpContainer {
  margin: 1rem 0;
  font-weight: 400;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  0%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

#container h1 {
  font-weight: bold;
  margin: 0;
  color: #d8d8ea;
  padding: 0.5rem 0 2rem 0;
  text-align: center;
}

#container a {
  color: #ffc334;
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem 0;
}

#container button {
  border-radius: 2rem;
  border: 1px solid #d8d8ea;
  background-color: #d8d8ea;
  color: #86b026;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

#container button:focus {
  outline: none;
}

form #sign-up-container #sign-in-container {
  background-color: #45467a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  text-align: center;
  width: auto;
}

#container input {
  background-color: #6667ab;
  opacity: 90%;
  border: none;
  padding: 0.8rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
  color:#2a2c66;
  outline-style: none;
  font-size: 1.3rem;
}

#container input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}

#container input[type="email"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}

#container input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}

#container input::placeholder {
  color: #d8d8ea;
  font-size: 1rem;
}


#sign-in-container {
  background-color: #45467a;
  grid-row: 2;
  padding: 1rem;
  border-radius: 2rem;
}

/* - - - - -PAGE PERSO - historique des scores + jouer + modifier + créer*/
#titrePagePerso {
  margin: 2rem 3rem;
  text-align: center;
}
#bonjourPagePerso {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  font-family: "russo one", sans-serif;
  color: #2a2c66;
  margin: 1rem auto;
}
#spanBonjourPagePerso {
  color: #86b026;
}
#bienvenuePagePerso {
  font-size: 2rem;
  color: #2a2c66;
  margin: 1rem auto;
}
#buttonsCreerModifier {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

#buttonCreeQuiz-pagePerso {
  text-align: center;
  width: 13rem;
  font-size: 1.3rem;
  margin-left: 2rem;
  float: left;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  /*display: inline-block;*/
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 1rem 3.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  xdisplay: none;
}
#buttonModifieQuiz-pagePerso {
  width: 13rem;
  text-align: center;
  margin-right: 2rem;
  font-size: 1.3rem;
  float: right;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  /*display: inline;*/
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  /*display: none;*/
}
#table-pagePerso {
  margin: 2rem auto;
  font-family: "Ruda", sans-serif;
  width: 30rem;
}

#thead-pagePerso {
  background-color: #45467a;
  padding: 1rem;
  color: #d8d8ea;
  font-family: "Ruda", sans-serif;
  font-size: 1.4rem;
}
#topTable-pagePerso {
  font-size: 1.2rem;
}

#topFive-pagePerso {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tr-topTable-pagePerso {
  background-color: #d8d8ea;
  color: #86b026;
  text-align: center;
}
.topTable-pagePerso {
  border: 0.2rem solid #d8d8ea;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.tr-oddRow-pagePerso {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #45467a;
  color: #d8d8ea;
}
.oddRow-pagePerso {
  padding: 0.3rem;
}
.tr-evenRow-pagePerso {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #d8d8ea;
  color: #45467a;
  padding: 1rem;
}
.evenRow-pagePerso {
  padding: 0.2rem;
}

.buttonBottom-pagePerso {
  display: block;
}
.buttonChoisis-pagePerso {
  width: 30rem;
  font-size: 1.3rem;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  text-align: center;
  margin: 0 auto;
}

#table-scorePage {
  margin: 2rem auto;
  font-family: "Ruda", sans-serif;
  width: 20rem;
}

#thead-scorePage {
  background-color: #45467a;
  padding: 1rem;
  color: #d8d8ea;
  font-family: "Ruda", sans-serif;
  font-size: 1.4rem;
}
#topTable-scorePage {
  font-size: 1.2rem;
}

#topFive-scorePage {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tr-topTable-scorePage {
  background-color: #d8d8ea;
  color: #86b026;
  text-align: center;
}
.topTable-scorePage {
  border: 0.2rem solid #d8d8ea;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.tr-oddRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #45467a;
  color: #d8d8ea;
}
.oddRow-scorePage {
  padding: 0.3rem;
}
.tr-evenRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #d8d8ea;
  color: #45467a;
  padding: 1rem;
}
.evenRow-scorePage {
  padding: 0.2rem;
}


  /* FORMULAIRE AJOUT QUESTION */

  #choix_thematique, #nombre_reponse, #nouvelle_question, #nouvelle_question_modif > legend {
    text-align: center;
    margin: 1.5rem 0; 
}
#h1CreateQuiz{ /*modif 070422*/
  color:#45467a;
  font-size: 2rem;
  padding: 1rem;
  font-family: "Russo one";
  letter-spacing: 0.2rem;
  text-align: center;
  }

  .choixThematique-createQuiz{ /*modif 060422*/
    color:#45467a;
    font-size: 1.2rem;
    font-family: "Russo one";
    letter-spacing: 0.2rem;
    
    }
  
    #menu_thematique { /*modif 060422*/
      border: 0.5rem solid #45467a;
      box-sizing: border-box;
      border-radius: 1rem;
      background: #D8D8EA;
      width: 10rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      color:#45467a;
      outline: none;
      font-family: "Ruda";
    }
    
    .nomQuiz-createQuiz{ /*modif 060422*/
      color:#45467a;
      font-size: 1.2rem;
      font-family: "Russo one";
      letter-spacing: 0.2rem;
      
    }

    .questionCreation { /*modif 060422*/
      border: 0.2rem solid #2a2c66a6;
    background-color: #45467a;
    color:#d8d8ea;
      box-sizing: border-box;
      border-radius: 1.5rem;
      font-size: 1.2rem;
      font-family: 'Russo One';
      text-align: center;
      outline: none;
      padding: 1rem;
      width: 30rem !important;
  }
  
  #nomQuiz {/*modif 060422*/
    border: 0.2rem solid #2a2c6634;
    box-sizing: border-box;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-family: "Ruda";
    text-align: center;
    outline: none;
    padding: 0.7rem;
    width: 25rem;
    background-color: #6667ab;
  }


.nomQuizModif{
  border: 4.65455px solid #D8D8EA;
  box-sizing: border-box;
  border-radius: 60.5091px;
  font-size: 20px;
  font-family: 'Russo One';
  text-align: center;
  outline: none;
}

#completeQuestRps-createQuiz{ /*modif 060422*/
  color:#45467a;
  font-size: 1.2rem;
  font-family: "Russo one";
  letter-spacing: 0.2rem;
}

.rep_correcte { /*modif 060422*/
    border: 0.2rem solid #A7D72E !important;
    background-color: transparent;
    color:#a7d72e !important;
    box-sizing: border-box;
    border-radius: 1.5rem;
    width: 25rem;
    font-size: 1.1rem;
    font-family: 'Ruda';
    font-weight: 600;
    text-align: center;
    margin: 0.5rem 0;
    padding: 1rem 0;
    outline: none;
}
.rep_correcte input::placeholder { /*modif 060422*/
  color:#a7d72e;
}

.rep_incorrecte { /*modif 060422*/
    border: 0.2rem solid rgba(255, 195, 52, 1);
    color:rgba(255, 195, 52, 1);
    box-sizing: border-box;
    border-radius: 1.5rem;
    width: 25rem;
    margin: 0.5rem 0;
    padding: 1rem 0;
    font-family: 'Ruda';
    font-weight: 600;
    text-align: center;
    outline: none;
    font-size: 1.1rem;
    background-color: transparent;
}
input::placeholder { /*modif 060422*/
  font-family: "ruda";
  font-size: 1.2rem;
  font-weight: 700;
  color: #d8d8ea;
}

#menu_thematique, #menu_thema {
    border: 4.65455px solid #D8D8EA;
    box-sizing: border-box;
    border-radius: 60.5091px;
}

#menu_thematique, #button_text, #nouvelle_question, #nouvelle_question_modif, #questionCreation, #menu_thema {
    font-family: 'Russo One';
    text-align: center;
}



#button_text {
    color: #45467A;
}

#nouvelle_question {
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#nouvelle_question_modif{
  /* margin-left: 50px; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

#question_reponses > .questionCreation {
  width: 30rem;
}
#question_reponses_modif > .questionCreation {
  width: 30rem;
}


#ajout_quiz_2 {
    margin-top: 25px;
    margin-left: 50px;
}

#nouvelle_question > p {
    color: #45467A;
    font-family: 'Russo One';
}
#nouvelle_question_modif > p {
  color: #45467A;
  font-family: 'Russo One';
}

/*.big_checkbox {
    height: 20px;
    width: 20px;
}
*/


/*#sendQuiz{
  background-color: #A7D72E;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
*/
#sendQuiz, #sendModif{
width: 30rem;
  font-size: 1.3rem;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #86b026;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
#sendModif{
  width: 30rem;
    font-size: 1.3rem;
    box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
    background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
    background-color: #86b026;
    border-radius: 1rem;
    border: 0.1rem solid #86b026;
    display: block;
    color: #45467a;
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    padding: 0.5rem 2rem;
    text-decoration: none;
    text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
    text-align: center;
    margin: 0 auto;
}



#ModifQuiz{
  /* Supression du GRID pour MOBILE */
  color: white;
  text-align: center;
  width: 480px;
  margin-left: 7.5%;
  margin-bottom: 20px;
}


/* PAGE ADMIN - UPDATE & DELETE*/
    .button_a, .button_b {
      width: 100px;
      height: 20px;
      border-radius: 9px;
      cursor: pointer;
      outline: none;

  }

  #button_ab {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
  }

  .button_a {
    background-color: #A7D72E;
    box-shadow: #8BB71D 5px 0px;
    border: none;
    margin-bottom: 8px;
    color:#45467a;
  }

  .button_b {
    background-color: #FFC334;
    box-shadow: #EB943B 5px 0px;
    border: none;
    color:#45467a;
  }

  /* Bouton Ajout */

.button_ajout {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: #ABD83F;
    box-shadow: #86B026 5px 0px;
    border:none;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #3D3A32;
    cursor: pointer;
}

#ajout_quiz > #button_ajout:focus {
    font-size: 50px;
}

#ajout_quiz {
    margin-left: 50px;
}

#ajout {
    bottom: 10px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #3D3A32;
    cursor: pointer;
}

.error{
  font-weight: 600;
  color: #EB943B;
  font-family: 'Russo One';
  font-size: 40px;
}



/*- - - MEDIA QUERIES - - -*/


@media screen and (min-width: 768px) {

  body {
    background-image: conic-gradient(
    from 65deg at -5% 30%,
    rgba(121, 122, 181, 0.9) 10deg,
    rgba(107, 108, 174, 1) 0deg,
    #6667ab 0deg,
    rgba(255, 255, 255, 0) 270deg,
    rgba(121, 122, 181, 0.9) 0deg
  );

    background-repeat: no-repeat;
    /* height: 390vh; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
   
    min-height: 100.5vh; /*modif 070422*/
  background-size: cover; /*modif 070422*/
  }
  main {
    z-index: -1;
    max-height: fit-content;
   
  }

  #logo img {
    height: 8rem;
  }

  .menu-btn {
    display: none;
  }

  .menu-btn_burger {
    display: none;
  }

  .nav {
    visibility: visible;
    position: sticky;
    width: 90%;
  }

  .nav .menu-nav { /*modif 070422*/
    display: inline-block;
    transform: translateY(0);
    transform: translateX(0);
    height: 100%;
    background: transparent;
   text-align:right;
    border: none;
    top: 20%;
    padding-right: 2rem;
    width:95%;
  }

  .nav .menu-nav_item {
    display: inline;
    padding: 0.7rem 1rem 0 0;
    width: 10rem;
  }

  .nav .menu-nav_link {
    font-size: 1.2rem;
    background-color: #d8d8ea;
    color: #45467a;
  }

  /*media queries - sous-menu*/
  .sousmenu-nav { /*modif 070422*/
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 4.5rem;
    left: 40rem;
    transform: translateX(-20%);
    float: left;
    text-align: right;
    width: 70vw;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: visible;
  }

  .sousmenu-nav_link { /*modif 070422*/
    font-size: 1.4rem;
    font-weight: 300;
    position: sticky;
    min-width: 5.8rem;
    overflow: auto;
    flex: nowrap;
    float: left;
    font-family: "ruda", sans-serif;
    padding: 0.2rem 0.1rem 0 0.7rem;
    opacity: 90%;
    color:#d8d8ea4d;
  }

  .liSousmenu-nav {
    z-index: 1;
    float: left;
    text-align: center;
  }

  .sousmenu-nav_link:hover {
    color: #d8d8ea;
    font-weight: 600;
    background-color: #45467a;
    border-radius: 1rem;
    border:0.3rem solid #565791;
    transform: translateY(20%);
  }

  /*titre page accueil*/
  .bienvenue {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    padding: 1.3rem 0;
  }

  #bienvenue_pageAccueil{
    font-size: 4rem;
    color:#45467a;
  }

  .titre h3 {
    font-size: 2rem;
  }

  .titre h5 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: -1rem;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }

  .categories .categorie_image img {
    height: 200px;
    width: 400px;
    border-radius: 50px;
  }

  .categories .categorie_image {
    position: relative;
    text-align: center;
    margin: 1.5rem 0;
    opacity: 1;
  }



  /* RFO */

  #grid_thematique {
    /* Supression du GRID pour MOBILE */
    display: grid;
    color: #d8d8ea;
    text-align: center;
    width: 440px; /*modif 070422*/
    margin: 0 auto; /*modif 070422*/
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  #ModifQuiz{
    display: grid;
    color: #d8d8ea;
    text-align: center;
    width: 440px; /*modif 070422*/
    margin: 0 auto; /*modif 070422*/
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    justify-content: center;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  #titre_thematique {
    width: 556px;
    border-radius: 60px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    width: 450px;
  }

  /* Visuel des bannières */
  .quiz_div {
    height: 70px;
    width: 500px;
    background-color: #45467a;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
  }
  .quiz_divv {
    height: 70px;
    width: 650px; 
    background-color: #45467a;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
  }

  /* Espacement des 2 colonnes */
  .quiz_div {
    margin-left: 25px;
  }

  /* Positions des logos dans le GRID */
  .quiz_div > img {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translate(0, -50%);
  }
   /* Espacement des 2 colonnes */
   .quiz_divv{
    margin-left: 25px;
  }

  /* Positions des logos dans le GRID */
  .quiz_divv > img {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* Centrage du texte dans les bannières */
  .centered_Quiz{ 
    text-align: center;
    padding: 4%;
    color: #d8d8ea;
    top: 100px;
    font-size: 1.5rem;

  }

  /* Overlay */
  #overlay_inscription {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
  }

  #overlay_inscription > h2 {
    color: #ffc334;
    margin: 0 18rem;
    font-family: "Russo One";
    font-size: 4rem;
    text-align: center;
    position: absolute;
    z-index: 30000;
    background-color: #45467a;
    opacity: 90%;
    /* height: 500px;
    padding-top: 50px; */
  }

  .timer-QuizQuest {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
  }

  #timeInNumbers-QuizQuest {
    font-size: 3rem;
  }

  .thematBox-QuizQuest {
    grid-column: 3;
    width: 15rem;
  }

  .thematImg-QuizQuest {
    width: 15rem;
    height: auto;
  }

  .thematText-QuizQuest {
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    z-index: -1;
  }

  /*Nom du quiz*/
  .quizName-QuizQuest {
    font-size: 3.2rem;
  }

  .li-numeroQuest-QuizQuest {
    font-size: 2rem;
  }

  /*Overlay*/
  #overlay-QuizQuest {
    border-radius: 7rem;
  }

  /*- - - - - Section question + réponses */
  .question-QuizQuest {
    width: auto;
    font-size: 4rem;
  }

  .questRep-QuizQuest {
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 2rem 10rem;
  }

  .gridContainer-QuizQuest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
  }

  .grid-itemQq {
    background-color: #45467a;
    text-align: center;
    font-family: "Ruda", sans-serif;
    padding: 0.5rem;
    border: 0.5rem solid #6667ab;
    align-content: center;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
  }

  .question-QuizQuest {
    width: auto;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: #d8d8ea;
    font-size: 3rem;
    font-weight: 500;
  }

  /*page scores*/
  #h1-scorePage {
    font-family: "Russo one", sans-serif;
    color: #2a2c66;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
  }

  #h2-scorePage {
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #86b026;
    margin-bottom: 2.5rem;
  }

  #scoresJoueur-scorePage {
    width: 50rem;
    background-color: #45467a;
    margin: 1rem auto;
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    color: #d8d8ea;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
  }

  #container {
    margin: 5% 30%;
  }
   /*media queries - - - tableau des scores */
   #table-scorePage {
    margin: 2rem auto;
    font-family: "Ruda", sans-serif;
    width: 50rem;
  }

  #thead-scorePage {
    background-color: #45467a;
    padding: 1rem;
    color: #d8d8ea;
    font-family: "Ruda", sans-serif;
    font-size: 1.7rem;
  }
  #topTable-scorePage {
    font-size: 1.5rem;
  }

  #topFive-scorePage {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .tr-topTable-scorePage {
    background-color: #d8d8ea;
    color: #86b026;
    text-align: center;
  }
  .topTable-scorePage {
    border: 0.2rem solid #d8d8ea;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .tr-oddRow-scorePage {
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    background-color: #45467a;
    color: #d8d8ea;
  }
  .oddRow-scorePage {
    padding: 0.3rem;
  }
  .tr-evenRow-scorePage {
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    background-color: #d8d8ea;
    color: #45467a;
    padding: 1rem;
  }
  .evenRow-scorePage {
    padding: 0.2rem;
  }

  #bonjourPagePerso {
    font-size: 3.5rem;

    margin: 1.5rem auto;
  }

  #bienvenuePagePerso {
    font-size: 3rem;
  }

  #buttonCreeQuiz-pagePerso {
    text-align: center;
    width: 16rem;
    font-size: 1.5rem;
    margin-left: 10rem;
  }

  #buttonModifieQuiz-pagePerso {
    width: 16rem;
    text-align: center;
    margin-right: 10rem;
    font-size: 1.5rem;
  }

  #thead-pagePerso {
    font-size: 2rem;
  }
  #table-pagePerso {
    margin: 3rem auto;
    font-family: "Ruda", sans-serif;
    width: 60rem;
  }

  .buttonChoisis-pagePerso {
    width: 60rem;
    font-size: 1.5rem;
  }

  /*Page create - admin*/
/* FORMULAIRE AJOUT QUESTION */ 

#choix_thematique, #nombre_reponse, #nouvelle_question, #nouvelle_question_modif > legend {
  text-align: center;
  xmargin-top: 1.5rem 0 1rem 0; 

}
#h1CreateQuiz{ /*modif 060422*/
color:#45467a;
font-size: 2.5rem;
margin-top:1.5rem;
padding-top: 1rem;
font-family: "Russo one";
letter-spacing: 0.2rem;
text-align: center;
}
.choixThematique-createQuiz{ /*modif 060422*/
color:#45467a;
font-size: 1.5rem;
font-family: "Russo one";
letter-spacing: 0.2rem;

}
#menu_thematique { /*modif 060422*/
border: 0.5rem solid #45467a;
box-sizing: border-box;
border-radius: 1rem;
background: #D8D8EA;
width: 20rem;
padding: 0.5rem;
font-size: 1.4rem;
color:#45467a;
outline: none;
font-family: "Ruda";
}

.nomQuiz-createQuiz{ /*modif 060422*/
color:#45467a;
font-size: 1.5rem;
font-family: "Russo one";
letter-spacing: 0.2rem;

}
.questionCreation { /*modif 060422*/
  border: 0.2rem solid #2a2c66a6;
background-color: #45467a;
color:#d8d8ea;
  box-sizing: border-box;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Russo One';
  text-align: center;
  outline: none;
  padding: 1rem;
  xwidth: 60rem;
}
#nomQuiz {/*modif 060422*/
border: 0.2rem solid #2a2c6634;
box-sizing: border-box;
border-radius: 1.5rem;
font-size: 1.5rem;
font-family: "Ruda";
font-weight: 600;
text-align: center;
outline: none;
padding: 0.7rem;
width: 70rem;
background-color: #6667ab;
color:#2a2c66;
}
#completeQuestRps-createQuiz{ /*modif 060422*/
color:#45467a;
font-size: 1.5rem;
font-family: "Russo one";
letter-spacing: 0.2rem;
}

.rep_correcte { /*modif 060422*/
  border: 0.2rem solid #A7D72E !important;
  background-color: transparent;
  color:#a7d72e !important;
  box-sizing: border-box;
  border-radius: 1.5rem;
  width: 60rem;
  font-size: 1.2rem;
  font-family: 'Ruda';
  text-align: center;
  xmargin-top: 1.5rem 0;
  padding: 1rem 0;
  outline: none;
}
.rep_correcte input::placeholder { /*modif 060422*/
color:#a7d72e;
}

.rep_incorrecte { /*modif 060422*/
  border: 0.2rem solid rgba(255, 195, 52, 1);
  color:rgba(255, 195, 52, 1);
  box-sizing: border-box;
  border-radius: 1.5rem;
  width: 60rem;
  margin: 1rem 0;
  padding: 1rem 0;
  font-family: 'Ruda';
  text-align: center;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
}
input::placeholder { /*modif 060422*/
font-family: "ruda";
font-size: 1.2rem;
font-weight: 700;
color: #d8d8ea;
}

#menu_thematique {
  border: 4.65455px solid #D8D8EA;
  box-sizing: border-box;
  border-radius: 60.5091px;
}

#menu_thematique, #button_text, #nouvelle_question, #nouvelle_question_modif ,#questionCreation {
  font-family: 'Russo One';
  text-align: center;
}

#button_text {
  color: #45467A;
}

#nouvelle_question {
  Xmargin-left: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
#nouvelle_question_modif{
  Xmargin-left: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
/*#question_reponses > .questionCreation {
  width: 70rem;
}*/

.questionCreation{
  width: 70rem !important;
}

#ajout_quiz_2 {
  margin-top: 25px;
  margin-left: 50px;
}

#nouvelle_question > p {
  color: #45467A;
  font-family: 'Russo One';
}
#nouvelle_question_modif > p {
  color: #45467A;
  font-family: 'Russo One';
}

.big_checkbox {
  height: 20px;
  width: 20px;
}

/* input[type=button]{ */
/* #sendQuiz{
  
  width: 35rem;
  font-size: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #86b026;
  border-radius: 1.5rem;
  border: 0.1rem solid #86b026;
  display: block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;

} */

}


