* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-image: conic-gradient(
    from 65deg at -5% 30%,
    rgba(121, 122, 181, 0.9) 10deg,
    rgba(107, 108, 174, 1) 0deg,
    #6667ab 0deg,
    rgba(255, 255, 255, 0) 270deg,
    rgba(121, 122, 181, 0.9) 0deg
  );
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Ruda", sans-serif;
  height: 100vh;
}




/* - - PAGE  S'INSCRIRE - */

h1 {
  font-weight: bold;
  margin: 0;
  color: #d8d8ea;
  padding: 0.5rem 0 2rem 0;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 1.1rem 0 2rem;
}

/*span {
      font-size: 12px;
  }*/

#motPasseOublie {
  text-align: center;
}
a {
  color: #ffc334;
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem 0;
}

button {
  border-radius: 2rem;
  border: 1px solid #d8d8ea;
  background-color: #d8d8ea;
  color: #86b026;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

button:active {
  xtransform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #d8d8ea;
}

form #sign-up-container #sign-in-container {
  background-color: #45467a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  text-align: center;
  width: auto;
}

input {
  background-color: #6667ab;
  opacity: 90%;
  border: none;
  padding: 0.8rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
}
input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
.no-outline:focus {
  outline: none;
}
input[type="email"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
input::placeholder {
  color: #d8d8ea;
  font-size: 1rem;
}

#container {
  display: grid;
  background-color: none;
  border-radius: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  
  padding: 0.5rem;
  top: 20%;
  text-align: center;
  margin: 2rem;
  /* z-index: -50; */
  margin: 5% 15%;
}
#sign-up-container {
  grid-row: 1;
  padding: 1rem;
  /* z-index: -1; */
  background-color: #565791;
  border-radius: 2rem;
  box-shadow: 28px 14px 30px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.22);
}
#dejaCompte_signUpContainer {
  margin: 1rem 0;
  font-weight: 400;
}
#sign-in-container {
  background-color: #45467a;
  grid-row: 2;
  padding: 1rem;
  display: none;
  border-radius: 2rem;
}
#motPasseOublie {
  margin: 1rem 0;
}
.container.right-panel-active #sign-in-container {
  transform: translateY(100%);
}
.container.right-panel-active #sign-up-container {
  transform: translateY(-100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  0%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.container.right-panel-active #overlay-container {
  transform: translateY(-100%);
}

#overlay-container {
  background: #45467a;
  display: grid;
  background: -webkit-linear-gradient(to right, #6667ab, #45467a);
  background: linear-gradient(to right, #6667ab, #45467a);
  background-repeat: no-repeat;
  color: #d8d8ea;
  position: relative;
  margin: 0 auto;
  border-radius: 2rem;
  width: 100%;
}
#overlay-left {
  grid-row: 3;
  margin-bottom: 1rem;
  display: none;
}

#overlay-right {
  grid-row: 1;
  margin-bottom: 1rem;
  display: none;
}


/*header*/
@media screen and (min-width: 768px) {
  
  #container {
    margin: 5% 30%;
  }
}
