* {
  margin: 0;
  padding: 0;
}
/* body */
body {
  background-image: conic-gradient(
    from 65deg at -5% 30%,
    rgba(121, 122, 181, 0.9) 10deg,
    rgba(107, 108, 174, 1) 0deg,
    #6667ab 0deg,
    rgba(255, 255, 255, 0) 270deg,
    rgba(121, 122, 181, 0.9) 0deg
  );
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Ruda", sans-serif;
  height: 100vh;
}
.main-general {
  z-index: -1;
}

/* Header */
header {
  background-color: #45467a;
  display: flex;
  z-index: 20;
}
/* LOGO */
#logo {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}
#logo img {
  height: 3rem;
}
/* Menu BURGER */
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 3rem;
  top: 1.5rem;
  height: 40px;
  width: 56px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 40px;
  height: 6px;
  background: #b1b3c9;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 40px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 13px;
  width: 28px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(14px, 8px);
}
.menu-btn_burger.open::after {
  width: 40px;
  transform: rotate(-45deg) translate(10px, -4px);
}
/* MENU */
.nav {
  /* position: fixed;
    top: 0;
    left: 0; */
  /* width: 100%; */
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  position: absolute;
  top: 0.5rem;
  left: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: left;
  justify-content: flex-start;
  width: 65vw;
  overflow: hidden;
  background: #45467a;
  list-style-type: none;
  /*padding-right: 1rem; */
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  border: 0.1rem solid #d8d8ea;
  padding: 0.5 1.5rem;
}
.nav .menu-nav.open {
  transform: translateY(0);
  width: 100%;
}
.nav .menu-nav_item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_item.open {
  transform: translateX(0);
}
/* .nav .menu-nav_item.active > a {
    color: #03A062;
} */
.nav .menu-nav_link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  /*padding: 1.5rem;
  margin-top: 2rem;
  */
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  color: #d8d8ea;
  text-decoration: none;
  font-family: "Ruda", sans-serif;
}
/* .nav .menu-nav_link:hover {
    color: #03A062;
} */

.nav .menu-nav_item:first-child .menu-nav_link {
  -webkit-border-top-left-radius: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -moz-border-radius-topleft: 24px;
  -moz-border-radius-bottomleft: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.nav .menu-nav_item:last-child .menu-nav_link {
  -webkit-border-top-right-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -moz-border-radius-topright: 24px;
  -moz-border-radius-bottomright: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.sousmenu-nav {
  list-style: none;
  line-height: 2;
  background-color: #45467a;
  text-align: justify;
  padding: 0 0 0 1rem;
}
.sousmenu-nav_link {
  color: #86b026;
  text-decoration: none;
  font-size: 1.2rem;
}
.sousmenu-nav_link .liSousmenu-nav .menu-nav_link {
  display: block;
  text-align: justify;
}

/* - - PAGE  S'INSCRIRE - */

h1 {
  font-weight: bold;
  margin: 0;
  color: #d8d8ea;
  padding: 0.5rem 0 2rem 0;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 1.1rem 0 2rem;
}

/*span {
      font-size: 12px;
  }*/

#motPasseOublie {
  text-align: center;
}
a {
  color: #ffc334;
  font-size: 1rem;
  text-decoration: none;
  margin: 1rem 0;
}

button {
  border-radius: 2rem;
  border: 1px solid #d8d8ea;
  background-color: #d8d8ea;
  color: #86b026;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

button:active {
  xtransform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #d8d8ea;
}

form #sign-up-container #sign-in-container {
  background-color: #45467a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  text-align: center;
  width: auto;
}

input {
  background-color: #6667ab;
  opacity: 90%;
  border: none;
  padding: 0.8rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
}
input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
.no-outline:focus {
  outline: none;
}
input[type="email"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #86b026;
}
input::placeholder {
  color: #d8d8ea;
  font-size: 1rem;
}

#container {
  display: block;
  background-color: none;
  border-radius: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  padding: 0.5rem;
  xborder: 1px solid#45467a;
  top: 20%;
  text-align: center;
  margin: 2rem;
  z-index: -50;
}
#sign-up-container {
  grid-row: 1;
  padding: 1rem;
  xdisplay: none;
  background-color: #565791;
  border-radius: 2rem;
  box-shadow: 28px 14px 30px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.22);
}
#dejaCompte_signUpContainer {
  margin: 1rem 0;
  font-weight: 400;
}
#sign-in-container {
  background-color: #45467a;
  grid-row: 2;
  xvisibility: hidden;
  padding: 1rem;
  xdisplay: none;
  border-radius: 2rem;
}
#motPasseOublie {
  margin: 1rem 0;
}
.container.right-panel-active #sign-in-container {
  transform: translateY(100%);
}
.container.right-panel-active #sign-up-container {
  transform: translateY(-100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  0%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.container.right-panel-active #overlay-container {
  transform: translateY(-100%);
}

#overlay-container {
  background: #45467a;
  display: grid;
  background: -webkit-linear-gradient(to right, #6667ab, #45467a);
  background: linear-gradient(to right, #6667ab, #45467a);
  background-repeat: no-repeat;
  color: #d8d8ea;
  position: relative;
  margin: 0 auto;
  border-radius: 2rem;
  width: 100%;
}
#overlay-left {
  grid-row: 3;
  margin-bottom: 1rem;
  display: none;
}

#overlay-right {
  grid-row: 1;
  margin-bottom: 1rem;
  display: none;
}

/* --PAGE QUESTIONS / REPONSES--*/
* {
  box-sizing: border-box;
}
/* TIMER + thematique box*/
#topQuizQuest {
  margin: 0 auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  text-align: center;
  z-index: 0;
}
.timer-QuizQuest {
  grid-column: 1;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  background: #45467a;
  text-align: center;
  display: inline-flex;
}
#timeInNumbers-QuizQuest {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #d8d8ea;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.thematBox-QuizQuest {
  grid-column: 3;
  grid-row: 1 !important;
  /*width: 6rem;
  xheight: 3rem;
  xtransform: translate(-50%, -50%);*/
  display: inline-block;
  align-self: center;
  align-content: flex-end;
  position: relative;
  text-align: center;
  z-index: -2;
  font-family: "Ruda", sans-serif;
  color: #d8d8ea;
  font-weight: 300;
  position: sticky;
  align-content: flex-end;
  align-self: center;
  font-size: 1rem;
  display: inline-block;
}

/*Nom du quiz*/
.quizName-QuizQuest {
  grid-column: 2;
  grid-row: 2;
  font-family: "Ruda", sans-serif;
  color: #ffc334;
  font-size: 1.5rem;
}
/*progression questions*/
#ul-compteurQuest-QuizQuest {
  grid-column: 2;
  grid-row: 3;
  list-style-type: none;
  display: block;
  width: auto;
}

#li-numeroQuest-QuizQuest {
  display: inline;
  color: #d8d8ea;
  text-align: center;
  text-decoration: none;
  border: 0.1rem solid #45467a;
  width: 1.4rem;
  font-family: "ruda", sans-serif;
  font-size: 0.7rem;
}
/*overlay article question rps*/
#overlay-QuizQuest {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #45467a;
  opacity: 85%;
  cursor: pointer;
  color: #ffc334;
  font-family: "Russo One";
  font-size: 5rem;
  text-align: center;
  z-index: -2;
  xdisplay: none;
}
#overlay-start {
  position: absolute;
  font-size: 5rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  xdisplay: none;
}
/*- - - - - Section question + réponses */
.questRep-QuizQuest {
  position: sticky;
  margin: 0 auto;
  padding: 1rem;
  z-index: -5;
}

.gridContainer-QuizQuest {
  display: grid;
  gap: 1.5rem;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.grid-itemQq {
  background-color: #45467a;
  text-align: center;
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
  border: 0.5rem solid #6667ab;
  align-content: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.question-QuizQuest {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  width: 25rem;
  height: auto;
  padding: 0.5rem;
  color: #d8d8ea;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
}

.itemTopRp1-QuizQuest {
  width: auto;
  grid-column: 1;
  grid-row: 2;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  align-self: center;
  border-radius: 2rem;
  xdisplay: none;
}

.itemTopRp2-QuizQuest {
  grid-column: 1;
  grid-row: 3;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  border-radius: 2rem;
  xdisplay: none;
}
.itemBottomRp3-QuizQuest {
  grid-column: 1;
  grid-row: 4;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  border-radius: 2rem;
  xdisplay: none;
}

.itemBottomRp4-QuizQuest {
  grid-column: 1;
  grid-row: 5;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  border-radius: 2rem;
  xdisplay: none;
}
/*
.vrai-QuizQuest {
  grid-column: 1;
  grid-row: 2;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  height: 8rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.faux-QuizQuest {
  grid-column: 1 !important;
  grid-row: 3 !important;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  height: 8rem;
  border-radius: 2rem;
}
*/

.itemTopRp1-QuizQuest:hover,
.itemTopRp2-QuizQuest:hover,
.itemBottomRp3-QuizQuest:hover,
.itemBottomRp4-QuizQuest:hover,
.faux-QuizQuest:hover,
.vrai-QuizQuest:hover {
  background-color: #d8d8ea;
  border: 0.5rem solid #6667ab;
  color: #45467a;
}

/* boxes "bravo" "dommage" */
#bravoDomm-QuizQuest {
  margin: 2rem auto;
  text-align: center;
}
.bravo-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 3.7rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  display: none;
}
.dommage-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 2.5rem 0.5 2.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  display: none;
}

/*Page des scores*/
#h1-scorePage {
  font-family: "Russo one", sans-serif;
  color: #2a2c66;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
#h2-scorePage {
  font-family: "Ruda", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: #86b026;
  margin-bottom: 2.5rem;
}

#scoresJoueur-scorePage {
  width: 20rem;
  background-color: #45467a;
  margin: 1rem auto;
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  color: #d8d8ea;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
}
#scoreSurDix-scorePage {
  color: #86b026;
}
#tempsQuiz-scorePage {
  color: #86b026;
}

/*#rpJustes-scorePage{



}
#temps-scorePage{

}
*/
.buttons-scorePage {
  margin: 0.5rem auto;
  text-align: center;
}

#buttonRejoue-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin: 1.5rem 0;
}
#buttonRejoue-scorePage:hover {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 6rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin-top: 0.5rem;
}

.buttonChoisis-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
}
.buttonChoisis-scorePage:hover {
  font-size: 1.5rem;
  border-radius: 6rem;
  margin-bottom: 0.5rem;
}

#table-scorePage {
  margin: 2rem auto;
  font-family: "Ruda", sans-serif;
  width: 20rem;
}

#thead-scorePage {
  background-color: #45467a;
  padding: 1rem;
  color: #d8d8ea;
  font-family: "Ruda", sans-serif;
  font-size: 1.4rem;
}
#topTable-scorePage {
  font-size: 1.2rem;
}

#topFive-scorePage {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tr-topTable-scorePage {
  background-color: #d8d8ea;
  color: #86b026;
  text-align: center;
}
.topTable-scorePage {
  border: 0.2rem solid #d8d8ea;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.tr-oddRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #45467a;
  color: #d8d8ea;
}
.oddRow-scorePage {
  padding: 0.3rem;
}
.tr-evenRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #d8d8ea;
  color: #45467a;
  padding: 1rem;
}
.evenRow-scorePage {
  padding: 0.2rem;
}

/* - - - - -PAGE PERSO - historique des scores + jouer + modifier + créer*/
#titrePagePerso {
  margin: 2rem 3rem;
  text-align: center;
}
#bonjourPagePerso {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  font-family: "russo one", sans-serif;
  color: #2a2c66;
  margin: 1rem auto;
}
#spanBonjourPagePerso {
  color: #86b026;
}
#bienvenuePagePerso {
  font-size: 2rem;
  color: #2a2c66;
  margin: 1rem auto;
}
#buttonsCreerModifier {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

#buttonCreeQuiz-pagePerso {
  text-align: center;
  width: 13rem;
  font-size: 1.3rem;
  margin-left: 2rem;
  float: left;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  xdisplay: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 1rem 3.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  xdisplay: none;
}
#buttonModifieQuiz-pagePerso {
  width: 13rem;
  text-align: center;
  margin-right: 2rem;
  font-size: 1.3rem;
  float: right;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  xdisplay: inline;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  xdisplay: none;
}
#table-pagePerso {
  margin: 2rem auto;
  font-family: "Ruda", sans-serif;
  width: 30rem;
}

#thead-pagePerso {
  background-color: #45467a;
  padding: 1rem;
  color: #d8d8ea;
  font-family: "Ruda", sans-serif;
  font-size: 1.4rem;
}
#topTable-pagePerso {
  font-size: 1.2rem;
}

#topFive-pagePerso {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tr-topTable-pagePerso {
  background-color: #d8d8ea;
  color: #86b026;
  text-align: center;
}
.topTable-pagePerso {
  border: 0.2rem solid #d8d8ea;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.tr-oddRow-pagePerso {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #45467a;
  color: #d8d8ea;
}
.oddRow-pagePerso {
  padding: 0.3rem;
}
.tr-evenRow-pagePerso {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #d8d8ea;
  color: #45467a;
  padding: 1rem;
}
.evenRow-pagePerso {
  padding: 0.2rem;
}

.buttonBottom-pagePerso {
  display: block;
}
.buttonChoisis-pagePerso {
  width: 30rem;
  font-size: 1.3rem;
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  text-align: center;
  margin: 0 auto;
}

/* _ _ _ _ _ _ _ _ _MEDIA QUERIES _ _ _ _ _ _ _ _ _ _ _ */

/*header*/
@media screen and (min-width: 768px) {
  #logo img {
    height: 8rem;
  }
  .menu-btn {
    display: none;
  }
  .menu-btn_burger {
    display: none;
  }
  .nav {
    visibility: visible;
    position: sticky;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    transform: translateX(20%);
    height: 100%;
    background: transparent;
    text-align: right;
    border: none;
  }

  .nav .menu-nav_item {
    display: inline;
    padding-right: 1rem;
  }
  .nav .menu-nav_link {
    font-size: 1.2rem;
    background-color: #d8d8ea;
    color: #45467a;
  }
  /*media queries - sous-menu*/
  .sousmenu-nav {
    display: flex;
    background-color: transparent;
    position: absolute;
    transform: translateX(40%);
    float: left;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: visible;
  }
  .sousmenu-nav_link {
    font-size: 1.4rem;
    font-weight: 300;
    position: sticky;
    min-width: 5.8rem;
    overflow: auto;
    flex: nowrap;
    float: left;
    font-family: "ruda", sans-serif;
    padding: 0.2rem 0.6rem 0 0.3rem;
    opacity: 90%;
  }

  .liSousmenu-nav {
    z-index: 1;
    float: left;
  }

  .sousmenu-nav_link:hover {
    color: #ffc334;
  }

  #dropdown:focus {
    background-color: #45467a;
    color: #d8d8ea;
  }

  /* media queries page quizQuest*/
  #main-QuizQuest {
    padding: 1rem 2rem 0 2rem;
  }

  .timer-QuizQuest {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
  }
  #timeInNumbers-QuizQuest {
    font-size: 3rem;
  }
  .thematBox-QuizQuest {
    grid-column: 3;
    grid-row: 1 !important;
    /*width: 6rem;
    xheight: 3rem;
    xtransform: translate(-50%, -50%);*/
    display: inline-block;
    align-self: center;
    align-content: flex-end;
    position: relative;
    text-align: center;
    z-index: -2;
    font-family: "Ruda", sans-serif;
    color: #d8d8ea;
    font-weight: 300;
    position: sticky;
    align-content: flex-end;
    align-self: center;
    font-size: 2rem;
    display: inline-block;
  }

  /*media queries - Nom du quiz*/
  .quizName-QuizQuest {
    font-size: 3.2rem;
  }

  #li-numeroQuest-QuizQuest {
    font-size: 2rem;
  }
  /* media queries - Overlay*/
  #overlay-QuizQuest {
    border-radius: 7rem;
    height: 60%;
    position: absolute;
    display: none;
  }
  #overlay-start {
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  /*- media queries-  - Section question + réponses */
  .question-QuizQuest {
    width: auto;
    font-size: 4rem;
  }
  .questRep-QuizQuest {
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 2rem 10rem;
  }
  .gridContainer-QuizQuest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  .grid-itemQq {
    background-color: #45467a;
    text-align: center;
    font-family: "Ruda", sans-serif;
    padding: 0.5rem;
    border: 0.5rem solid #6667ab;
    align-content: center;
    justify-content: center;
    align-content: center;
  }
  .question-QuizQuest {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    grid-row: 1;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: #d8d8ea;
    font-size: 3rem;
    font-weight: 500;
  }
  .itemTopRp1-QuizQuest {
    grid-column: 1;
    grid-row: 2;
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
    align-self: center;
  }
  .itemTopRp2-QuizQuest {
    grid-column: 2;
    grid-row: 2;
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }
  .itemBottomRp3-QuizQuest {
    grid-column: 1;
    grid-row: 3;
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }
  .itemBottomRp4-QuizQuest {
    grid-column: 2;
    grid-row: 3;
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }

  /*media queries - - - réponses vrai faux*/

  .vrai-QuizQuest {
    grid-column: 1;
    grid-row: 2;
    height: 12rem;
    display: none;
  }
  .faux-QuizQuest {
    grid-column: 2 !important;
    grid-row: 2 !important;
    height: 12rem;
    display: none;
  }

  /*media queries - - - buttons bravo dommage*/
  #bravoDomm-QuizQuest {
    margin: 1.5rem auto 0;
    text-align: center;
  }
  .bravo-QuizQuest {
    box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
    background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
    background-color: #a7d72e;
    border-radius: 1rem;
    border: 0.1rem solid #86b026;
    display: inline-block;
    color: #45467a;
    font-family: "Ruda", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1rem 3.7rem;
    text-decoration: none;
    text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
    xdisplay: none;
  }
  .dommage-QuizQuest {
    box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
    background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
    background-color: #ee9235;
    border-radius: 1rem;
    border: 0.1rem solid #ee9235;
    display: inline-block;
    color: #45467a;
    font-family: "Ruda", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1rem 2.5rem 0.5 2.5rem;
    text-decoration: none;
    text-shadow: 0rem 0.2rem 0.2rem #ffc334;
    display: none;
  }

  /*media queries - - - page scores*/
  #h1-scorePage {
    font-family: "Russo one", sans-serif;
    color: #2a2c66;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  #h2-scorePage {
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #86b026;
    margin-bottom: 2.5rem;
  }
  #scoresJoueur-scorePage {
    width: 50rem;
    background-color: #45467a;
    margin: 1rem auto;
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    color: #d8d8ea;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
  }
  /*media queries - - - tableau des scores */
  #table-scorePage {
    margin: 2rem auto;
    font-family: "Ruda", sans-serif;
    width: 50rem;
  }

  #thead-scorePage {
    background-color: #45467a;
    padding: 1rem;
    color: #d8d8ea;
    font-family: "Ruda", sans-serif;
    font-size: 1.7rem;
  }
  #topTable-scorePage {
    font-size: 1.5rem;
  }

  #topFive-scorePage {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .tr-topTable-scorePage {
    background-color: #d8d8ea;
    color: #86b026;
    text-align: center;
  }
  .topTable-scorePage {
    border: 0.2rem solid #d8d8ea;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .tr-oddRow-scorePage {
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    background-color: #45467a;
    color: #d8d8ea;
  }
  .oddRow-scorePage {
    padding: 0.3rem;
  }
  .tr-evenRow-scorePage {
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    background-color: #d8d8ea;
    color: #45467a;
    padding: 1rem;
  }
  .evenRow-scorePage {
    padding: 0.2rem;
  }

  #bonjourPagePerso {
    font-size: 3.5rem;

    margin: 1.5rem auto;
  }

  #bienvenuePagePerso {
    font-size: 3rem;
  }

  #buttonCreeQuiz-pagePerso {
    text-align: center;
    width: 16rem;
    font-size: 1.5rem;
    margin-left: 10rem;
  }

  #buttonModifieQuiz-pagePerso {
    width: 16rem;
    text-align: center;
    margin-right: 10rem;
    font-size: 1.5rem;
  }

  #thead-pagePerso {
    font-size: 2rem;
  }
  #table-pagePerso {
    margin: 3rem auto;
    font-family: "Ruda", sans-serif;
    width: 60rem;
  }

  .buttonChoisis-pagePerso {
    width: 60rem;
    font-size: 1.5rem;
  }
}
