* {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #45467a;
  display: flex;
}
/* LOGO */
#logo {
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}
#logo img {
  height: 3rem;
}
/* Menu BURGER */
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 3rem;
  top: 1.5rem;
  height: 40px;
  width: 56px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 40px;
  height: 6px;
  background: #b1b3c9;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  content: "";
  position: absolute;
  top: -13px;
  width: 40px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 13px;
  width: 28px;
  height: 6px;
  background: #d8d8ea;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn_burger.open::before {
  transform: rotate(45deg) translate(14px, 8px);
}
.menu-btn_burger.open::after {
  width: 40px;
  transform: rotate(-45deg) translate(10px, -4px);
}
/* MENU */
.nav {
  /* position: fixed;
    top: 0;
    left: 0; */
  /* width: 100%; */
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  position: absolute;
  top: 0.5rem;
  left: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content: flex-start;
  width: 65vw;
  overflow: hidden;
  background: #45467a;
  list-style-type: none;
  /* padding-right: 1rem; */
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  border: 0.1rem solid #d8d8ea;
  padding: 0.5 1.5rem;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav_item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav_item.open {
  transform: translateX(0);
}
/* .nav .menu-nav_item.active > a {
    color: #03A062;
} */
.nav .menu-nav_link {

  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 2rem;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  color: #d8d8ea;
  text-decoration: none;
  font-family: "Ruda", sans-serif;
}
/* .nav .menu-nav_link:hover {
    color: #03A062;
} */

.nav .menu-nav_item:first-child .menu-nav_link {
  -webkit-border-top-left-radius: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -moz-border-radius-topleft: 24px;
  -moz-border-radius-bottomleft: 24px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.nav .menu-nav_item:last-child .menu-nav_link {
  -webkit-border-top-right-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -moz-border-radius-topright: 24px;
  -moz-border-radius-bottomright: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.menu-nav_item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  transition-delay: 0.45s;
}

.sousmenu-nav {
  list-style: none;
  line-height: 2;
}
.sousmenu-nav_link {
  color: #86b026;
  text-decoration: none;
font-size: 1.2rem;
}

/* MAIN */
main {
  background: conic-gradient(
    from 60deg at -5% 20%,
    rgba(121, 122, 181, 0.9) 10deg,
    rgba(107, 108, 174, 1) 0deg,
    #6667ab 0deg,
    rgba(255, 255, 255, 0) 270deg,
    rgba(121, 122, 181, 0.9) 0deg
  );
  background-repeat: no-repeat;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - -
PAGE QUESTIONS / REPONSES*/
* {
  box-sizing: border-box;
}
/* TIMER + thematique box*/
#topQuizQuest {
  margin: 0 auto;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  text-align: center;
}
.timer-QuizQuest {
  grid-column: 1;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  background: #45467a;
  text-align: center;
  display: inline-flex;
}
#timeInNumbers-QuizQuest {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #d8d8ea;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.thematBox-QuizQuest {
  grid-column: 3;
  width: 6rem;
  height: 3rem;
  display: inline-block;
  align-self: center;
  position: relative;
  text-align: center;
}

.thematText-QuizQuest {
  font-family: "Ruda", sans-serif;
  color: #d8d8ea;
  font-weight: 300;
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Nom du quiz*/
.quizName-QuizQuest {
  grid-column: 2;
  grid-row: 2;
  font-family: "Ruda", sans-serif;
  color: #ffc334;
  font-size: 1.5rem;
}
/*progression questions*/
#ul-compteurQuest-QuizQuest {
  grid-column: 2;
  grid-row: 3;
  list-style-type: none;
  display: block;
  width: auto;
}

#li-numeroQuest-QuizQuest {
  display: inline;
  color: #d8d8ea;
  text-align: center;
  text-decoration: none;
  border: 0.1rem solid #45467a;
  width: 1.4rem;
  font-family: "ruda", sans-serif;
  font-size: 0.7rem;
}
/*overlay article question rps*/
 #overlay-QuizQuest {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #45467a;
  opacity: 90%;
  cursor: pointer;
  color: #ffc334;
  font-family: "Russo One";
  font-size: 5rem;
  text-align: center;
  /* display: none; */
} 
#overlay-start {
  position: absolute;
  font-size: 5rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
/*- - - - - Section question + réponses */
.questRep-QuizQuest {
  margin: 0 auto;
  padding: 1rem;
}

.gridContainer-QuizQuest {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.grid-itemQq {
  background-color: #45467a;
  text-align: center;
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
  border: 0.5rem solid #6667ab;
  align-content: center;
  justify-content: center;
  align-content: center;
}
.question-QuizQuest {
  margin: 0 auto;
  width: 20rem;
  height: auto;
  padding: 0.5rem;
  color: #d8d8ea;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
  background-color: #45467a;
  text-align: center;
  font-family: "Ruda", sans-serif;
  padding: 0.5rem;
  border: 0.5rem solid #6667ab;
  align-content: center;
}

.grid-itemQq {
  width: auto;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 1.2rem;
  height: 5rem;
  align-self: center;
  border-radius: 2rem;

}

.vrai-QuizQuest {
  grid-column: 1;
  grid-row: 2;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  height: 8rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  display: none;
}
.faux-QuizQuest {
  grid-column: 1 !important;
  grid-row: 3 !important;
  border: 0.5rem solid #6667ab;
  color: #d8d8ea;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  height: 8rem;
  border-radius: 2rem;
  display: none;
}

.itemTopRp1-QuizQuest:hover,
.itemTopRp2-QuizQuest:hover,
.itemBottomRp3-QuizQuest:hover,
.itemBottomRp4-QuizQuest:hover,
.faux-QuizQuest:hover,
.vrai-QuizQuest:hover {
  background-color: #d8d8ea;
  border: 0.5rem solid #6667ab;
  color: #45467a;
}

/* boxes "bravo" "dommage" */
#bravoDomm-QuizQuest {
  margin: 2rem auto;
  text-align: center;
}
.bravo-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 3.7rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  display: none;
}
.dommage-QuizQuest {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 2.5rem 0.5 2.5rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
  display: none;
}

/*Page des scores*/
#h1-scorePage {
  font-family: "Russo one", sans-serif;
  color: #2a2c66;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
#h2-scorePage {
  font-family: "Ruda", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: #86b026;
  margin-bottom: 2.5rem;
}

#scoresJoueur-scorePage {
  width: 20rem;
  background-color: #45467a;
  margin: 1rem auto;
  font-family: "Ruda", sans-serif;
  font-size: 1rem;
  color: #d8d8ea;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
}
#scoreSurDix-scorePage {
  color: #86b026;
}
#tempsQuiz-scorePage {
  color: #86b026;
}

/*#rpJustes-scorePage{



}
#temps-scorePage{

}
*/
.buttons-scorePage {
  margin: 0.5rem auto;
  text-align: center;
}

#buttonRejoue-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 1rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin: 1.5rem 0;
}
#buttonRejoue-scorePage:hover {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #86b026;
  background: linear-gradient(to top, #a7d72e 5%, #86b026 100%);
  background-color: #a7d72e;
  border-radius: 6rem;
  border: 0.1rem solid #86b026;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #a7d72e;
  margin-top: 0.5rem;
}

.buttonChoisis-scorePage {
  box-shadow: 0.2rem 0.2rem 0rem 0.2rem #ee9235;
  background: linear-gradient(to top, #ffc334 5%, #ee9235 100%);
  background-color: #ee9235;
  border-radius: 1rem;
  border: 0.1rem solid #ee9235;
  display: inline-block;
  color: #45467a;
  font-family: "Ruda", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-shadow: 0rem 0.2rem 0.2rem #ffc334;
}
.buttonChoisis-scorePage:hover {
  font-size: 1.5rem;
  border-radius: 6rem;
  margin-bottom: 0.5rem;
}

#table-scorePage {
  margin: 2rem auto;
  font-family: "Ruda", sans-serif;
  width: 20rem;
}

#thead-scorePage {
  background-color: #45467a;
  padding: 1rem;
  color: #d8d8ea;
  font-family: "Ruda", sans-serif;
  font-size: 1.4rem;
}
#topTable-scorePage {
  font-size: 1.2rem;
}

#topFive-scorePage {
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.tr-topTable-scorePage {
  background-color: #d8d8ea;
  color: #86b026;
  text-align: center;
}
.topTable-scorePage {
  border: 0.2rem solid #d8d8ea;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.tr-oddRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #45467a;
  color: #d8d8ea;
}
.oddRow-scorePage {
  padding: 0.3rem;
}
.tr-evenRow-scorePage {
  border: none;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #d8d8ea;
  color: #45467a;
  padding: 1rem;
}
.evenRow-scorePage {
  padding: 0.2rem;
}


/*réponses vrai faux*/

.vrai-QuizQuest {
  grid-column: 1;
  grid-row: 2;
  height: 12rem;
  display: none;

}
.faux-QuizQuest {
  grid-column: 2;
  grid-row: 2;
  height: 12rem;
  display: none;

}
@media screen and (min-width: 768px) {
  #logo img {
    height: 8rem;
  }
  .menu-btn {
    visibility: hidden;
  }

  
  .sousmenu-nav_link{
    font-size: 2rem;
    font-weight: 400;
    display: none;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
    border:none;
    
  }
  .nav .menu-nav_item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav_link {
    font-size: 1.5rem;
    background-color: #d8d8ea;
    color: #45467a;
  }
  /* media queries page quizQuest*/
  #main-QuizQuest {
    padding: 1rem 2rem 0 2rem;
  }

  .timer-QuizQuest {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
  }
  #timeInNumbers-QuizQuest {
    font-size: 3rem;
  }
  .thematBox-QuizQuest {
    grid-column: 3;
    width: 15rem;
  }
  .thematImg-QuizQuest {
    width: 15rem;
    height: auto;
  }

  .thematText-QuizQuest {
    font-family: "Ruda", sans-serif;
    font-size: 2rem;
    font-weight: 600;
  }
  /*Nom du quiz*/
  .quizName-QuizQuest {
    font-size: 3.2rem;
  }

  #li-numeroQuest-QuizQuest {
    font-size: 2rem;
  }
  /*Overlay*/
  #overlay-QuizQuest {
    border-radius: 7rem;
  }
  /*- - - - - Section question + réponses */
  .question-QuizQuest {
    width: auto;
    font-size: 4rem;
  }
  .questRep-QuizQuest {
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 2rem 10rem;
  }
  .gridContainer-QuizQuest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
    /* gap: 2rem; */
  }
  .grid-itemQq {
    background-color: #45467a;
    text-align: center;
    font-family: "Ruda", sans-serif;
    padding: 0.5rem;
    border: 0.5rem solid #6667ab;
    align-content: center;
    justify-content: center;
    align-content: center;
  }
  .question-QuizQuest {
   
    width: auto;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    color: #d8d8ea;
    font-size: 3rem;
    font-weight: 500;
  }
  .itemTopRp1-QuizQuest {
    
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
    align-self: center;
  }
  .itemTopRp2-QuizQuest {
  
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }
  .itemBottomRp3-QuizQuest {
   
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }
  .itemBottomRp4-QuizQuest {
   
    border: 0.5rem solid #6667ab;
    color: #d8d8ea;
    font-size: 2rem;
    height: 8rem;
  }
}


/*page scores*/
